{% extends 'layout.html' %}
{% block title %}{{ super() }}| Index{% endblock %}}
{% block page %} 404 Not Found {% endblock %}}
{% block content %}
<div class="content mt-5">
    <section>
        <div class="container section has-text-centered">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <h1 class="title is-2">404 Not Found</h1>
                    <a class="button is-primary" href="{{ url_for('site.index') }}">Voltar</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}