<footer>
  <strong>
    <small>
      {% if footer %}
        {{ footer }}
      {% else %}
        <a target="_blank" href="https://github.com/bergpb">@bergpb</a> | {{ version }} | {{ environment }}
      {% endif %}
    </small>
  </strong>
</footer>