<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ff8000">
    <title>{% block title %} Berg {% endblock %}</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link id="dark-sheet" rel="stylesheet" href="{{ url_for('static', filename='css/bulma-prefers-dark.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
  </head>

  <body>
    <script>
      if (window.localStorage.getItem('theme') == "light") {
        document.getElementById("dark-sheet").remove()
      }
    </script>
    {% if request.endpoint != 'site.index' %}
      {% include "_navbar.html" %}
    {% endif %}
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
    {% include "_footer.html" %}
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    {% if request.endpoint != 'site.index' %}
      <script type="text/javascript">
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });

        let btn_toggle = document.getElementById('theme-toogle')
        btn_toggle.addEventListener('click', function (event) {
          event.preventDefault();
          toggle();
        });
        </script>
    {% endif %}
  </body>

</html>