{% extends 'layout.html' %}
{% block title %}{{ super() }}| Coins{% endblock %}}
{% block page %} Index {% endblock %}}
{% block content %}
<div class="content mt-5">
  <div class="columns is-mobile is-multiline">
    {% for coin in data | sort(attribute='order') %}
      <div class="column is-4-desktop is-6-tablet is-12-mobile">
        <a href="{{ url_for('coins.index') }}{{ coin.name | lower | remove_special_characters | add_underscore }}">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img {% if coin.name == "Ouro"  %} style="margin-top: 15px;" {% endif %}
                      src="{{ url_for('static', filename="/images") }}/{{coin.image}}" alt="{{ coin.image }}">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <div style="margin-top: 6px;">
                    {% if coin.name == "Dólar"  %}
                      <strong>{{ coin.name }} | Compra | Venda</strong>
                    {% else %}
                      <strong>{{ coin.name }}</strong>
                    {% endif %}
                  </div>
                  <div>
                    {% if coin.name == "Dólar" %}
                      R$ {{ coin.value | format_coin }} | R$ {{ purchase.value }} | R$ {{ sale.value }}
                      <br><small></small>
                    {% else %}
                      R$ {{ coin.value | format_coin }}
                    {% endif %}
                  <div>
                </div>
              </div>
            </article>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
